{{> head }}

{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Batman</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum doloremque cupiditate at expedita tempore itaque exercitationem ipsam esse placeat odio. Voluptates, veniam? Nesciunt deserunt quam consectetur harum, enim perferendis adipisci.</p>
        </div>

        <div class="col-4">
            <img src="assets/images/cute.batman.clipart-1.jpg" class="img-thumbnail">
        </div>
        
    </div>

{{> footer }}